/*Now the CSS*/
.familyTree {
  --itemTextColor: #eee;
  --borderColor: #afafaf;
  --treansitionSpeed: 0.3s;

  display: flex;
  justify-content: center;
}
.familyTree,
.familyTree * {
  margin: 0;
  padding: 0;
}
.familyTree ul {
  padding-top: 20px;
  position: relative;

  overflow: auto;
  white-space: nowrap;

  transition: all var(--treansitionSpeed);
  -webkit-transition: all var(--treansitionSpeed);
  -moz-transition: all var(--treansitionSpeed);
}

.familyTree li {
  /* display: inline-table;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px; */

  transition: all var(--treansitionSpeed);
  -webkit-transition: all var(--treansitionSpeed);
  -moz-transition: all var(--treansitionSpeed);
}

/*We will use ::before and ::after to draw the connectors*/

.familyTree li::before,
.familyTree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 1px solid var(--borderColor);
  width: 50%;
  height: 20px;
}
.familyTree li::after {
  right: auto;
  left: 50%;
  border-left: 1px solid var(--borderColor);
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.familyTree li:only-child::after,
.familyTree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.familyTree li:only-child {
  padding-top: 0;
}

/*Remove left connector from first child and 
right connector from last child*/
.familyTree li:first-child::before,
.familyTree li:last-child::after {
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.familyTree li:last-child::before {
  border-right: 1px solid var(--borderColor);
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.familyTree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.familyTree ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid var(--borderColor);
  width: 0;
  height: 20px;
}

.familyTree li article {
  border: 1px solid var(--borderColor);
  padding: 5px 10px;
  /* text-decoration: none; */
  color: var(--itemTextColor);
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  transition: all var(--treansitionSpeed);
  -webkit-transition: all var(--treansitionSpeed);
  -moz-transition: all var(--treansitionSpeed);
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.familyTree li a:hover,
.familyTree li a:hover + ul li a {
  background: #c8e4f8;
  color: #000;
  border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.familyTree li a:hover + ul li::after,
.familyTree li a:hover + ul li::before,
.familyTree li a:hover + ul::before,
.familyTree li a:hover + ul ul::before {
  border-color: #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/
